<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT - Accueil</title>
    <link rel="stylesheet" href="../src/css/main.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue à l'atelier JWT</h1>
        <h2>Ceci est le projet de : Maxime CHRETIEN</h2>
        <p>Si vous avez mis en ligne votre solution et si cette page s'affiche dans votre navigateur, alors vous avez réussi votre mise en service.</p>
        <p>Notions acquises lors de cette étape : Hébergement sur Alwaydata, installation d’une application, Fork d’un projet GitHub et utilisation de Secrets pour mettre à jour votre site.</p>

        <hr>

        <h3>Exercices</h3>
        <p>Lire le Readme.md de votre Repository GitHub pour obtenir les consignes.</p>

        <!-- Bouton Login -->
        <a href="/login">
            <button>Login</button>
        </a>
    </div>
</body>
</html>
